@import "../../../vendor/assets/stylesheets/bootstrap/bootstrap.scss";

.navbar.navbar-default{border-radius: 0;}
.notice_bord{text-align: center;}
h2#intro{color:#428bca; text-align: center;}
h2#intro span{color:black;font-size: .7em;font-weight: normal;}
div.notice{color:green}
div.alert{color: red;}